<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat!</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>
    <div th:replace="~{fragments/dissolveChatModal.html :: dissolveChatModal}"></div>
    <div th:replace="~{fragments/leaveChatModal.html :: leaveChatModal}"></div>
    <div th:replace="~{fragments/kickMemberModal.html :: kickMemberModal}"></div>
    <div th:replace="~{fragments/inviteMemberModal.html :: inviteMemberModal}"></div>
    <section class="row vh-100">
        <div class="col-3" th:insert="~{fragments/chatListFragment.html :: chatList}"></div>
        <div class="col-9">
            <div class="row h-100">
                <section class="col-8 d-flex flex-column align-items-start">
                    <section class="w-100">
                        <article class="card">
                            <p class="card-text">Announcement contents</p>
                            <p class="card-text">Date</p>
                        </article>
                        <article class="card">
                            <h5 class="card-title">Member name</h5>
                            <p class="card-text">Message contents</p>
                            <p class="card-text">Date</p>
                        </article>
                    </section>
                    <section class="mt-auto w-100">
                        <form>
                            <input type="text" placeholder="Your message here...">
                            <input type="submit" class="btn btn-primary" value="Send">
                        </form>
                    </section>
                </section>
                <section class="col-4 d-flex flex-column">
                    <div th:insert="~{fragments/memberListFragment.html :: memberList}"></div>
                    <div id="ownerButtonsContainer" class="d-flex flex-row justify-content-center gap-3 mt-auto" style="margin-bottom: 20px;">
                    </div>
                </section>
            </div>
        </div>
    </section>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script>
        function createDissolveButton() {
            const button = document.createElement('button');
            
            button.className = 'btn btn-danger';
            button.setAttribute('id', 'dissolveChatButton');
            button.setAttribute('data-bs-toggle', 'modal');
            button.setAttribute('data-bs-target', '#dissolveChat');
            button.textContent = 'Dissolve Chat';
            
            return button;
        }

        function createInviteButton() {
            const button = document.createElement('button');

            button.className = 'btn btn-primary';
            button.setAttribute('id', 'inviteMembersButton');
            button.setAttribute('data-bs-toggle', 'modal');
            button.setAttribute('data-bs-target', '#inviteMember');
            button.textContent = 'Invite Member';
            
            return button;
        }

        const ownerButtonsContainer = document.getElementById("ownerButtonsContainer");
        ownerButtonsContainer.classList.add('d-none');
        ownerButtonsContainer.appendChild(createInviteButton());
        ownerButtonsContainer.appendChild(createDissolveButton());
    </script>
</body>

</html>
