<div th:fragment="chatList" class="d-flex flex-column align-items-start h-100">
    <div>
        <section class="card">
            <h5 class="card-title">Chat name</h5>
            <p class="card-text">Member count and password icon</p>
        </section>
        <section class="card">
            <h5 class="card-title">Chat name</h5>
            <p class="card-text">Member count and password icon</p>
        </section>
        <section class="card">
            <h5 class="card-title">Chat name</h5>
            <p class="card-text">Member count and password icon</p>
        </section>
    </div>
    <section class="mt-auto">
        <h5>Username</h5>
        <button class="btn btn-primary">Settings</button>
    </section>
</div>