<div th:fragment="leaveChatModal" class="modal fade" id="leaveChat" tabindex="-1" aria-labelledby="leaveChatLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leaveChatLabel">Leave chat?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to leave this chat?</p>
            </div>
            <div class="modal-footer">
                <button id="leaveChatConfirm" type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    onclick="leaveChat()">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    <script>
        function leaveChat() {
            console.log(`Attemtping to leave chat: ${chatToLeaveId}`);
            fetch(`/chats/${chatToLeaveId}/user`, {
                method: 'DELETE',
                headers: { 'Content-Type': 'application/json' }
            })
                .then(response => {
                    if (response.status !== 204) {
                        console.error('Unable to leave the chat.');
                        return;
                    }

                    const serverContainer = document.querySelector('#serverContainer');
                    const serverCards = serverContainer.children;
                    for (const serverCard of serverCards) {
                        if (serverCard.getAttribute('data-chat-id') === chatToLeaveId) {
                            serverCard.remove();
                        }
                    }
                })
                .catch(error => console.error('Error when leaving chat:', error));
        }
    </script>
</div>