<div th:fragment="memberList" class="d-flex flex-column align-items-start h-100">
    <div id="memberContainer" class="scrollable-container">
    </div>
    <button class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#inviteMember" style="margin: auto; margin-top: 20px;">Invite</button>

<script th:inline="javascript">
    const urlParts = window.location.pathname.split('/');
    const chatId = urlParts[urlParts.length - 1];
    
    document.addEventListener("DOMContentLoaded", () => {

        const currentUserId = [[${currentUserId}]];
        let isRoomOwner = false;

        function loadMembers() {
            fetch(`/chats/load`, {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            })
            .then(response => {
                if (response.status === 204) {
                    console.log("No content received");
                    return [];
                }

                if (response.ok === false) {
                    throw new Error(`Failed to load members: HTTP ${response.status}`);
                }

                return response.json();
            })
            .then(data => {
                let chatFound = false;
                data.forEach(chat => {
                    if (chat.id === chatId) {
                        chatFound = true;
                        if (chat.ownerId === currentUserId) {
                            isRoomOwner = true;
                        }
                        createMemberCards(chat.memberIds);
                        return;
                    }
                });
                if (!chatFound) {
                    alert("Incorrect chat id");
                    window.location.href = "/chats";
                }
            })
            .catch(error => console.error('Error loading member IDs:', error));

        }

        function createMemberCards(memberIds) {
            if (!memberIds || memberIds.length === 0) return;

            console.log("Member IDs received:", memberIds);

            const memberContainer = document.getElementById('memberContainer');
            memberContainer.innerHTML = ''; 

            let isMemberOnCard = false;

            memberIds.forEach(memberId => {
                    if (memberId === currentUserId) {
                        isMemberOnCard = true;
                    }
                    const card = createMemberCard(memberId, isMemberOnCard);
                    memberContainer.appendChild(card);
                    isMemberOnCard = false;
            });
        }

        function createMemberCard(memberId, isMemberOnCard) {
            const card = document.createElement('div');
            card.classList.add('card', 'p-3', 'mb-3', `member-${memberId}`);

            const memberName = `
                <p class="card-title truncate-text mb-0" style="max-width: 200px;">
                    ${memberId}
                </p>
            `;
            
            let actionButton = '';
            
            if (!isMemberOnCard && isRoomOwner) {
                actionButton = `
                    <button class="btn btn-outline-danger" id="kickButton" data-bs-toggle="modal"
                    data-bs-target="#kickMember" data-member-id="${memberId}">X</button>
                `;
            } 
        
            card.innerHTML = `
                <div class="d-flex justify-content-between align-items-center">
                    ${memberName}
                    ${actionButton}
                </div>
            `;
        
            return card;
        }

        loadMembers();
    });
</script>
</div>
