<div th:fragment="memberList" class="d-flex flex-column align-items-start h-100">
    <div id="memberContainer" class="scrollable-container">
    </div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inviteMember"
        style="margin: auto; margin-top: 20px;">Invite</button>

    <script th:inline="javascript">
        const urlParts = window.location.pathname.split('/');
        const chatId = urlParts[urlParts.length - 1];

        document.addEventListener("DOMContentLoaded", () => {

            const currentUserId = [[${ currentUserId }]];
            let isRoomOwner = false;

            function loadMembers() {
                const request = fetch(`/chats/${chatId}/details`, {
                    method: 'GET',
                    headers: { 'Content-Type': 'application/json' }
                });

                const response = request.then(r => {
                    if (r.status !== 200) {
                        console.error('Could not load members.', r.error);
                        return;
                    }
                    return r.json();
                });

                response.then(chat => {
                    if (chat.ownerId === currentUserId) {
                        isRoomOwner = true;
                    }
                    createMemberCards(chat.members);
                    chatFound = true;
                });

            }

            function createMemberCards(members) {
                if (!members || members.length === 0) return;
                console.log("Member IDs received:", members);

                const memberContainer = document.getElementById('memberContainer');
                memberContainer.innerHTML = '';

                members.forEach(member => {
                    const card = createMemberCard(member);
                    memberContainer.appendChild(card);
                });
            }

            function createMemberCard(member) {
                const card = document.createElement('div');
                card.classList.add('card', 'p-3', 'mb-3');

                card.innerHTML = `
                <p class="card-title truncate-text">
                    ${member.userName}
                    ${isRoomOwner ?
                        `<button class="btn btn-secondary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#kickMember" data-member-id="${member.userId}">X</button>` : ''}
                </p>
            `;
                return card;
            }

            loadMembers();
        });
    </script>
</div>