<div th:fragment="userSettingsModal" class="modal fade" id="userSettings" tabindex="-1"
    aria-labelledby="userSettingsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userSettingsLabel">User settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3 d-flex">
                <div class="form-group" style="flex-grow: 1">
                    <input type=" text" class="form-control" id="usernameInput" placeholder="Username">
                </div>
                <button class="btn btn-primary" value="Save" id="saveUsernameButton" onclick="saveUsername()"
                    data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>

    <script>
        function saveUsername() {
            const oldUserName = document.querySelector('#userNameLabel').innerText;
            const username = document.querySelector("#usernameInput").value;
            const payload = {
                userName: username
            }
            const request = fetch('/username', {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(payload)
            });

            const result = request.then(response => {
                if (response.status === 403) {
                    alert('Unable to change to the selected username.');
                    return;
                }

                if (response.status !== 200) {
                    console.error(`Username change error. Response: ${response}`);
                }

                document.querySelector('#userNameLabel').innerText = username;
                const memberContainer = document.querySelector('#memberContainer');
                for (const memberEntry of memberContainer.children) {
                    if (memberEntry.querySelector('p').innerText === oldUserName) {
                        memberEntry.querySelector('p').innerText = username;
                    }
                }
            }).catch(error => console.error(error));
        }
    </script>
</div>